# GitHub recommended
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.jest/
/jest-cache/
/jest.config.js

# next.js
/.next/
/out/
.next/cache

# production build output
/build
dist/

# Prisma files (if using Prisma with SQLite)
prisma/*.db
prisma/*.db-journal

# misc
.DS_Store         # macOS system files
Thumbs.db         # Windows system files
*.pem             # SSL certs, if used

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env*.local
.env.*.local
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Tailwind CSS and other config files
!tailwind.config.js
!postcss.config.js
!tsconfig.json

# IDE-specific files
.vscode/
.idea/
*.swp
